<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >

<div id="page" layout:fragment="content">
  <div class="container-fluid p-0 mb-5" >

      <div class="text-center hero my-5" style="position: relative">

        <img class="d-block w-100" src="../img/papeleria.png"/>
        <div class="carousel-caption">
          <div class="row col-12 h-100">
            <h2 style="color: white">Empleados</h2>
            <a th:href="@{newEmployee}">Crear</a>
            <table class="table h-100" style="color: white">
              <thead  style="height: 10%">
              <tr>
                <th>Nombre</th>
                <th>email</th>
                <th>role</th>

              </tr>
              </thead>
              <tbody style="height: 90%">
              <tr  th:each="emp: ${employees}">
                <td th:text="${emp.getName()}"></td>
                <td th:text="${emp.getEmail()}"></td>
                <td th:text="${emp.getRole()}"></td>

              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
  </div>
</div>

</html>